{
  "printer_type": "windows",
  "printer_name": "shouyin",
  "printer_ip": "192.168.1.100",
  "printer_port": 9100,
  "printer_serial_port": "COM4",
  "unit_price": 1.0,
  "special_soup_price": 50.0,
  "price_unit": "per_kg",
  "shop_name": "杨国福麻辣烫",
  "shop_subtitle": "杨国福(测试店)",
  "auto_print": false,
  "stable_threshold": 0.01,
  "stable_count": 5,
  "is_first_run": true
}
